.about {
  color: rgb(248, 241, 232);
  text-align: justify;
  font-size: 1.1rem;
}

.about__link {
  text-decoration: none;
  color: rgb(224, 156, 67);
  cursor: pointer;
}

.about__link:hover {
  color: rgb(248, 241, 232);
}

.about__images {
  position: absolute;
  top: 17.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#argus,
#me3,
#me4 {
  height:fit-content;
  filter: saturate(0)
}

#me3,
#me4 { width: 14rem; }

#argus { width: 18.5rem; }


@media screen and (max-width: 800px) {

  .about__images {
    top: 16.5rem;
  }

}

@media screen and (max-width: 500px) {

  .about {
    overflow: scroll;
    cursor:row-resize;
  }
  
  .about::-webkit-scrollbar {
    display: none;
  }
  
  .about__images {
    flex-direction: column;
    align-items: center;
    top: 32rem;
  }

  #me3,
  #me4,
  #argus { 
    width: 18rem; 
  }

}