.blog {
  background-color: rgb(248, 241, 232);
  font-size: 1.2rem;
  color:rgb(102, 66, 18);
  text-align: justify;
  padding: 1rem 1rem 0 1rem;
  border-radius: 1px;
  overflow: scroll;
  cursor:row-resize;
}

.blog::-webkit-scrollbar {
  display: none;
}

.blog__date {
  font-size: 1rem;
  margin: .5rem 0 0 0;
  font-weight: bold;
}

.blog__title {
  font-size: 1.5rem;
  text-align: center;
}