.blog {
  background-color: rgb(248, 241, 232);
  font-size: 1.2rem;
  line-height: 2rem;
  color:rgb(102, 66, 18);
  text-align: justify;
  border-radius: 1px;
  overflow: scroll;
  cursor:row-resize;
}

.blog::-webkit-scrollbar {
  display: none;
}

.blog__date {
  font-size: 1rem;
  margin: .5rem 0 0 1rem;
  font-weight: bold;
}

.blog__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 2rem 0;
}

.blog__text {
  margin: 0 1rem 0 1rem;
}