body {
  background-color: rgb(43, 48, 48);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.content {
  position: fixed;
  left: 20%;
  /* left: 18%; */
  top: 25%;
  width: 60%;
  height: 70%;
}

.app__subtitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10rem;
  margin: .5rem 0 0 1rem;
}

.app__title, .app__subtitle {
  margin: 0;
  text-decoration: none;
}

.app__subtitle { 
  color: rgb(220, 184, 138);
  cursor: default;
}

.app__subtitle:hover { color: antiquewhite }

.app__title {
  text-align: left;
  color:rgb(224, 156, 67);
  text-decoration: none;
  font-size: 2.5rem;
  margin-left: 1rem;
  cursor: default;
}

.app__title:hover {
  color: antiquewhite;
}

.app__subtitle { 
  font-size: 1.2rem;
}
.app__social-media {
  position: absolute;
  top: 6.5rem;
  left: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 4rem; */
  width: 5.5rem;
}

.app__social-media__linkedin,
.app__social-media__instagram,
.app__social-media__twitter {
  width: 1.5rem;
  filter: invert(75%);
  cursor: pointer;
}

.app__social-media__linkedin:hover,
.app__social-media__instagram:hover,
.app__social-media__twitter:hover {
  filter: invert(100%);
}

#me {
  width: 15%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  opacity: 80%;
  border-radius: 50%;
}
